<table class="table table-success table-striped">
  <thead>
    <tr>
      <th scope="col">1</th>
      <th scope="col" (click)=  "goRegion('Africa')">Africa</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">2</th>
      <td (click)=  "goRegion('Asia')">Asia</td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td (click)=  "goRegion('Europe')">Europe</td>

    </tr>
    <tr>
      <th scope="row">4</th>
      <td colspan="2" (click)=  "goRegion('Americas')">Americas</td>

    </tr>
    <tr>
      <th scope="row">5</th>
      <td  (click)=  "goRegion('Oceania')">Oceania</td>
      </tr>
  </tbody>
</table>
